*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.header{
  padding:10px;
  background-color: blueviolet;
  color: gainsboro;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.createaccount{
  display:flex;
  justify-content: center;
  align-items:center;
}
.navbar{
  display:"flex";
  justify-content: space-between;
}
.newadd{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:20px;
}

